
.react-datepicker-popper {
	z-index: 3;
  }
  
@media only screen and (min-width:450px) and (max-width:613px) {
    #date{
        padding-right:16rem;
    }
}

@media only screen and (min-width:613px) and (max-width:639px) {
    #date{
        padding-right:20rem;
    }
}

.btn {
	position: relative; 
	outline: none;
	color: black;
	background-color: transparent; 
	white-space: nowrap;
	&.border {
		&::after,
		&::before,
		span::after,
		span::before {
			content: "";
			position: absolute;
			background-color: black;
			transition: 0.5s ease;
		}
		&::after,
		&::before {
			height: 100%;
			width: 2px;
			top: -2px;
		}
		&::after {
			left: -2px;
		}
		&::before {
			right: -2px;
		}
		span::after,
		span::before {
			height: 2px;
			width: 100%;
			left: -2px;
		}
		span::after {
			top: -2px;
		}
		span::before {
			bottom: -2px;
		}
		&:hover:after {
			-ms-transform: translatex(-12px);
			-webkit-transform: translatex(-12px);
			-moz-transform: translatex(-12px);
			-o-transform: translatex(-12px);
			transform: translatex(-12px);
		}
		&:hover:before {
			-ms-transform: translatex(12px);
			-webkit-transform: translatex(12px);
			-moz-transform: translatex(12px);
			-o-transform: translatex(12px);
			transform: translatex(12px);
		}
		&:hover span::after {
			-ms-transform: translatey(-12px);
			-webkit-transform: translatey(-12px);
			-moz-transform: translatey(-12px);
			-o-transform: translatey(-12px);
			transform: translatey(-12px);
		}
		&:hover span::before {
			-ms-transform: translatey(12px);
			-webkit-transform: translatey(12px);
			-moz-transform: translatey(12px);
			-o-transform: translatey(12px);
			transform: translatey(12px);
		}
	}
}

.bton {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 0.6em;
    color: black;
    cursor: pointer; 
    text-align: center;
    text-transform: uppercase;   
    &:hover,
    &:focus {
      color: #fff;
      outline: 0;
    }
  }
  
 
  .fifth {
    border-color: black; 
    border-radius: 0;
    color: black;
    position: relative;
	overflow: hidden; 
	z-index: 1;
	transition: color 150ms ease-in-out;
	-webkit-transition: color 150ms ease-in-out;
    
    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 50%;
      -ms-transform: translateX(-50%);
	  -webkit-transform: translateX(-50%);
	  -moz-transform: translateX(-50%);
	  -o-transform: translateX(-50%);
	  transform: translateX(-50%);
      width: 0;
      height: 100%;
      background: black;
      z-index: -1;
	  transition: width 150ms ease-in-out;
	  -webkit-transition: width 150ms ease-in-out;
    }
    
    &:hover {
      color: #fff;
      &:after {
        width: 110%;
      }
    }
  }
